angularapp/angular.json
angularapp/.editorconfig
angularapp/karma.conf.js
angularapp/tsconfig.app.json
angularapp/tsconfig.json
angularapp/tsconfig.spec.json
angularapp/node_modules
angularapp/package-lock.json
dotnetapp/Migrations
angularapp/node_modules
dotnetapp/.config
.env
dotnetapp/systemlogs.log
dotnetapp/Logs
dotnetapp/Logs/log-20260115.txt
dotnetapp/Logs/log-20260116.txt
.angular/
node_modules/
dist/