angularapp/node_modules
dotnetapp/Migrations
angularapp/node_modules
dotnetapp/.config
.env
dotnetapp/systemlogs.log
dotnetapp/Logs
dotnetapp/Logs/log-20260115.txt
dotnetapp/Logs/log-20260116.txt
.angular/
node_modules/
dist/