<div class="container mt-5">
     <div class="text-center mb-4">
          <h1 class="fw-bold">Fitness-Tracker</h1>
     </div>
     <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
               <div class="card shadow-sm">
                    <div class="card-body">
                         <p class="card-text text-muted text-center">
                              Fitness-Tracker is a comprehensive digital platform designed
                              for individuals committed to <br>
                              achieving their fitness goals.
                              At the core of the platform is an extensive array of workout plans,<br>
                              each detailed with descriptions, targeted muscle groups,
                              difficulty levels, and structured <br>
                              schedules. This rich information empowers users to amke informed choices,
                              ensuring that their<br> selected workout plan aligns perfectly with their
                              fitness objectives and physical capabilities.<br>
                              Fitness-Tracker is tailored to meet the diverse needs of its users,
                              providing a seamless and user-<br>
                              friendly experience for creating personalized workout
                              plans to enhance their health and fitness <br>
                              journey.</p>
                    </div>

               </div>
          </div>
     </div>
</div>